

[D
[D.pub
__pycache__/
ActualLIve_ligue1GamesPages_downloads/
al_euro_leagues_start_end_bustConnectionLiveSpportsbetor.sh
ance_pari_LiveLigue1WebpageData.html
ance_pari_LiveLigue1WebpageData_files/
Betclic_LiveLigue1WebpageData.html
Betclic_LiveLigue1WebpageData_files/
champLeague_4Sites_SoccerOnly_v1.py
champLeague_4Sites_SoccerOnly_v2.py
credentials.json
debug.log
debugging_bookieTeamAPrint_email_sportsBetAlertor_v1.py
dodgyProfitNproprs_sportsBetAlertor_v1.py
euro_lives_start_end_bustConnectionLiveSpportsbetor.sh
first_tList.txt
FootballChampionsLeagueWinamax.html
France-pariLiveLigue1WebpageData.html
France-pariLiveLigue1WebpageData_files/
full_all_bookies_allLeagues_match_data
gcp_replace1_pub_key
gcp_replace1_pvt_key.ppk
input_file.txt
intiMultiDimen_sportsBetAlertor_v1.py
Ligue1livePMU.html
Ligue1livePMU_files/
LiguedeChampionsFootballParisportifssurUnibet.fr
_
Parier.html
LiguedeChampionsFootballParisportifssurUnibet.fr
_
Parier_files/
livetestingoffline_html_fullsitesDownloads/
needed_only_aws_sportBet_workinCode_preC_cmdHistory.txt
older_swappedSpotsBetAlertor.py
ParionLiveLigue1WebpageData.html
ParionLiveLigue1WebpageData_files/
ParissportifLiguedesChampionssurFrance-pari.fr.html
ParissportifLiguedesChampionssurFrance-pari.fr_files/
pre_matchV0_runLocal4paul_sportsBetAlertor_v1.py
proxyTest_noAPI.py
proxyTest_noAPI.txt
secndProcDataDicIncUnibet.mat
secndProcDataDict_unibetNMore.mat
second_proc_data_dict_unibet_andMoreData.mat
secondTlistWithcmdLinePythonCpodeRunToo.txt
seleniumScrapinProgUpwork1.py
Sports_bwin_LIVELigue_1_web_htmlData.html
Sports_bwin_LIVELigue_1_web_htmlData_files/
SportsBwinParisLiguedesChampionsLive_bwin.html
SportsBwinParisLiguedesChampionsLive_bwin_files/
start_end_bustConnectionLiveSpportsbetor.sh
sure_bets_placed.txt
testing1_mismatchedBookiesnOdds_sportsBetAlertor_v1.py
Unibet._LIVELigue_1_web_htmlData.html
Unibet._LIVELigue_1_web_htmlData_files/
unibetChampleaguePath.png
user_agents_lit.txt
Winamax_LiveLigue1WebpageData.html
Winamax_LiveLigue1WebpageData_files/
workingLatestPreMatch_sportsBetAlertor_v1.py
Zebet_LiveLigue1WebpageData.html
Zebet_LiveLigue1WebpageData_files/
zebetfootballChampsLeague-Pariersurfootball.html
zebetfootballChampsLeague-Pariersurfootball_files/
[D
[D.pub
__pycache__/
ActualLIve_ligue1GamesPages_downloads/
al_euro_leagues_start_end_bustConnectionLiveSpportsbetor.sh
all3ligaPremFrmc_april18.log
amazon-ses-mycrowledj-sample.py
ance_pari_LiveLigue1WebpageData.html
ance_pari_LiveLigue1WebpageData_files/
aws_instance4cpus/
aws_sportBet_auto_set_up.sh
Betclic_LiveLigue1WebpageData.html
Betclic_LiveLigue1WebpageData_files/
broke_notgivin_surebets_April5_all_euro_footy_ligues_sportsBetAlertor_v1.py
canadian_sportsBetAlertor_v1.py
champLeague_4Sites_SoccerOnly_v1.py
champLeague_4Sites_SoccerOnly_v2.py
champs_lague_local_April14.log
champs_lague_local_April14_2.log
chromedriver.exe
credentials.json
davidCrowley_DCConcept_InvoiceWork.xls
debug.log
debugging_bookieTeamAPrint_email_sportsBetAlertor_v1.py
debuging_italnGermnanyApril17.log
debuging_italnGermnanyApril18.log
dodgyProfitNproprs_sportsBetAlertor_v1.py
england_all_euro_footy_ligues_sportsBetAlertor_v1.py
englishLigue1Only_logsApril11.log
euro_lives_start_end_bustConnectionLiveSpportsbetor.sh
europa_league_local_April15_3.log
first_tList.txt
FootballChampionsLeagueWinamax.html
france_all_euro_footy_ligues_sportsBetAlertor_v1.py
france_april18.log
frenchLigue1Only_logsApril11.log
frenchNbundesliga_local_April16_1.log
full_all_bookies_allLeagues_match_data
gcp_replace1_pub_key
gcp_replace1_pvt_key.ppk
germny_onlyall_euro_footy_ligues_sportsBetAlertor_v1.py
grman_live_0%profit_local_April17_1.log
grmny_live_0%profit_local_April17_1.log
input_file.txt
intiMultiDimen_sportsBetAlertor_v1.py
irish_sportsBetAlertor_v1.py
itaGermLigue1Only_logsApril11.log
italia_live_0%profit_local_April17_1.log
italisnKrauts_all_euro_footy_ligues_sportsBetAlertor_v1.py
italy_live_0%profit_local_April17_1.log
italy_live_0%profit_local_April18_1.log
italy_onlyall_euro_footy_ligues_sportsBetAlertor_v1.py
Ligue1livePMU.html
Ligue1livePMU_files/
LiguedeChampionsFootballParisportifssurUnibet.fr
_
Parier.html
LiguedeChampionsFootballParisportifssurUnibet.fr
_
Parier_files/
livetestingoffline_html_fullsitesDownloads/
monitorN_restart_euroleagueslertor.sh
needed_only_aws_sportBet_workinCode_preC_cmdHistory.txt
nohup.out
older_swappedSpotsBetAlertor.py
paralel_all_euro_footy_ligues_sportsBetAlertor_v1.py
ParionLiveLigue1WebpageData.html
ParionLiveLigue1WebpageData_files/
ParissportifLiguedesChampionssurFrance-pari.fr.html
ParissportifLiguedesChampionssurFrance-pari.fr_files/
pre_matchV0_runLocal4paul_sportsBetAlertor_v1.py
proxyTest_noAPI.py
proxyTest_noAPI.txt
README.md
secndProcDataDicIncUnibet.mat
secndProcDataDict_unibetNMore.mat
second_proc_data_dict_unibet_andMoreData.mat
secondTlistWithcmdLinePythonCpodeRunToo.txt
setAsideFile4LiveEuropaMatches_sportsBetAlertor_v1.py
spain_all_euro_footy_ligues_sportsBetAlertor_v1.py
spainishLigue1Only_logsApril11.log
split_parsing_1_all_euroFooty_liguesAlertor_v1.py
Sports_bwin_LIVELigue_1_web_htmlData.html
Sports_bwin_LIVELigue_1_web_htmlData_files/
SportsBwinParisLiguedesChampionsLive_bwin.html
SportsBwinParisLiguedesChampionsLive_bwin_files/
start_end_bustConnectionLiveSpportsbetor.sh
sure_bets_placed.txt
surebets_Done_list_textfile.txt
testing1_mismatchedBookiesnOdds_sportsBetAlertor_v1.py
Unibet._LIVELigue_1_web_htmlData.html
Unibet._LIVELigue_1_web_htmlData_files/
unibetChampleaguePath.png
user_agents_lit.txt
Winamax_LiveLigue1WebpageData.html
Winamax_LiveLigue1WebpageData_files/
workingLatestPreMatch_sportsBetAlertor_v1.py
Zebet_LiveLigue1WebpageData.html
Zebet_LiveLigue1WebpageData_files/
zebetfootballChampsLeague-Pariersurfootball.html
zebetfootballChampsLeague-Pariersurfootball_files/
